---
layout: default
---

<h2>Pool of Extras Candidates</h2>
<h3 class="subheader">These people want to be extras in your film. Time to hire!</h3>

<div class="pool">
	{% for person in site.data.people %}
		<div class="panel clearfix vcard">
			<div class="left"><i class="fi-torso vcard-photo"></i></div>
			<ul class="no-bullets">
				<li>{{ person.name }}</li>
				<li>{{ person.age }} years old, {% if person.gender == "m" %}male{% elsif person.gender == "f" %}female{% endif %}</li>
				<li>{{ person.weight }} lbs. / {{ person.height }}</li>
				<li>Favorite {{ person.fav_type }} is {{ person.fav_item }}</li>
			</ul>
		</div>
	{% endfor %}
</div>

<div class="row">
	<div class="column small-12">
		<a href="agents-gig.html" class="button">Next</a>
	</div>
</div>

<script src="{{ site.baseurl }}/javascripts/agents-pool.js"></script>